@import "mixins";
#navigation{
    @include position_flex();
    padding: 10px 0px;
    #logo{
        width: 100px;
        a{
            img{
                width: 100px;
            }
        }
    }
    nav{
        #nav-wrap{
            ul{
                @include position_flex();
                gap: 30px;
                li{
                    
                    a{
                        font-size: 1.4rem;
                        transition: color 0.4s;
                        &:hover{
                            color:$boja_hover;
                        }
                    }
                }
            }
        }
    }
}
header{
    background-color: $pozadina_header;
}